[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "site-lisp/feature-mode"]
	path = site-lisp/feature-mode
	url = git://github.com/michaelklishin/cucumber.el.git
